// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base_font_family: sans_serif;
$base_font_weight: $regular;
$base_font_size: 13px;
$base_line_height: 1.4;

// Fixed Font
$fixed_font_family: monospace;
$fixed_font_size: 85%;
$fixed_line_height: $base_line_height;

// Headings
$header_font_weight: $bold;

