.flex{
  display:flex;
  justify-content:center;
  align-items:center;
}
.flex-column{
	display:flex;
	justify-content:center;
	align-items:center;
 	flex-direction: column;
}


@keyframes terminal_load{
	to{
		left:0%;
	}
}


@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}