$yellow:#d6c5a9;

// colors

$green_dark:#212121;
$shadow_green:#4a4643;
$washed_green:#9ab8ac;
$washed_yellow:#d6c5a9;
$fallout_yellow:#F9A212;

// usefull color :tomato , teal, marron


$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background:#121010;



//nier color:


$bgr-light:#c2bda9;
$bgr-grey:#aaa592;
$bgr-dark:#636052;
$bgr-dark-05:rgba(99, 96, 82, 0.5);



