@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
// usage
* {
    font-family: 'Inconsolata', monospace;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

input,input:focus{
    outline:none;
    background: transparent;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


button{
    border:none;
    outline: none;
    background-color: rgba(0,0,0,0);
}



 ::-webkit-scrollbar-track
 {
     opacity:0;
     background-color: rgba(0,0,0,0);
 }
 
 ::-webkit-scrollbar
 {
     width: 5px;
     background-color:rgba(0,0,0,0);	
 }
 ::-webkit-scrollbar-thumb
 {
     border-radius:3px;
     background-color: white;
 }
 