$desktop_bar_height:35px;
body {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

#draggable_container {
    position: absolute;
    top: 0;
    left: -30vw;
    width: 160vw;
    height: 110vh;
    z-index: -99;
}
#desktop_container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    // background-color: $green_dark;
    // background: linear-gradient(to bottom, #5A5454 0%, #333333 100%);
    color: $washed_yellow; // transform-origin: center;
    // transform: scale(0.99,0.97);   
    // border-radius: 30px; 
    // border-radius: 2rem;
    // border: 1rem solid;
    // border-bottom-color: #121212;
    // border-left-color: #080808;
    // border-right-color: #080808;
    // border-top-color: #020202;
    // box-shadow:
    //     inset 1rem 1rem 20rem 0 rgba(255,255,255,0.25),
    //     inset -2rem -2rem 20rem 0 rgba(0,0,0,0.7),
    //     0 0 0 40rem rgba(0,0,0,1);
    #desktop_screen {
        @import "_page";
        width: 100%;
        height:calc(100vh - #{$desktop_bar_height});
        z-index: 0;
        position: relative;
        padding: 5px;
        .desktop_app {
            width: 90px;
            height: 80px;
            text-align: center;
            @extend .flex-column;
            i {
                font-size: 40px;
            }
            position: absolute;
        }
        .desktop_app:hover {
            background-color: rgba($shadow_green, 0.3);
            outline: 2px solid rgba($shadow_green, 0.8);
        }
        .desktop_app_focus {
            background-color: rgba($shadow_green, 0.6)!important;
            outline: 2px solid rgba($shadow_green, 1)!important;
        }
        .terminal_app {
            top: 370px;
            left: 0px;
        }
        .trash_app {
            right: 10px;
            bottom: 10px;
        }
    }
    #desktop_bar {
        width: 100%;
        height: $desktop_bar_height;
        position: absolute;
        z-index: 98;
        bottom: 0;
        left: 0;
        background-color: rgba($shadow_green, 0.8);
        color: white;
        display: flex;
        .icons {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .icon {
                width: $desktop_bar_height;
                height: $desktop_bar_height;
                font-size: 20px;
                @extend .flex;
                img {
                    width: 50%;
                }
                i {
                    color: $yellow;
                }
                &:hover {
                    background-color: rgba(lighten($shadow_green,10%), 0.9);
                }
            }
            .active {
                background-color: rgba($shadow_green, 0.9);
            }
            .icon_app {
                color: white;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 0;
                    width:calc(#{$desktop_bar_height} - 10px);
                    height:calc(#{$desktop_bar_height} - 2px);
                    border-bottom: 2px solid white;
                    &:hover {
                        left: 0px;
                        width: $desktop_bar_height;
                    }
                }
            }
        }
        .utilities {
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 10px;
            color: white;
            .utilities_icon {
                min-width: 30px;
                height: 100%;
                cursor: pointer;
                @extend .flex;
                i {
                    margin: 0px 6px 0px 6px;
                }
                #utilities_time {
                    margin: 0px 20px 0px 40px;
                }
            }
            .utilities_icon:hover {
                background-color: rgba($shadow_green, 0.9);
            }
        }
    }
    $screen-background:#121010;
    .overlay_screen {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        pointer-events: none; // clicking throught the div
        z-index: 99;
        opacity: 0.5;
        overflow: hidden; // flicker
        &::after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: transparentize($screen-background, 0.9);
            opacity: 0;
            z-index: 2;
            pointer-events: none;
            animation: flicker 0.15s infinite;
        } // scanlines
        &::before {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(transparentize($screen-background, 1) 50%, transparentize(darken($screen-background, 10), 0.75) 50%), linear-gradient(90deg, transparentize(#ff0000, 0.94), transparentize(#00ff00, 0.98), transparentize(#0000ff, 0.94));
            z-index: 2;
            background-size: 100% 2px, 3px 100%;
            pointer-events: none;
        }
    }
    @import '_terminal';
}

.show_lorn {
    transform-origin: center;
    animation: lorn_video 20s forwards ease-in;
    -webkit-transform-style: preserve-3d;
}

@keyframes lorn_video {
    0% {
        transform: translate(0px, 0px) translateZ(0px) scale(1, 1);
    }
    100% {
        transform: translate(0px, 0px) translateZ(1100px) scale(1, 1);
    }
}